<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bank.css">
  <title>Account open</title>
</head>

<body>
  <!--	placeholder for content from the header.hbs file in the /views/partials directory 
		the { { > xxx } } syntax means embed the content of file by the name of xxx.hbs			-->
  {{>header}}

  <section class="blockForm">
    <form action="/accountOpen" method="POST">
      <label for="chequing">Chequing:</label>
      <input type="radio" id="chequing" name="accountSelection" value="Chequing" onclick="checkSubmit()">
      <label for="savings">Savings: </label>
      <input type="radio" id="savings" name="accountSelection" value="Savings" onclick="checkSubmit()">
      <input type="submit" value="Submit" id="btSubmit" disabled>
    </form>

    <form action="/returnBank" method="POST">

      <input type="submit" value="Cancel">


    </form>


    <script>

      function checkSubmit() {
        var bt = document.getElementById('btSubmit');
        if ((document.getElementById("chequing").checked) || (document.getElementById("savings").checked)) {
          bt.disabled = false;
        }

        else {
          bt.disabled = true;
        }

      }

    </script>


</body>

</html>