<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdrawal</title>
    <link rel="stylesheet" href="/css/partials.css">
</head>

<body>
    <!--	placeholder for content from the header.hbs file in the /views/partials directory 
		the { { > xxx } } syntax means embed the content of file by the name of xxx.hbs			-->
    {{>header}}
</body>

</html>